



<% if user_signed_in? %>

<h1>Friends</h1>


<table class="table table-striped" id="friends">
  <thead class='table-dark'>
  <tr>

    <th>Name</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Twitter</th>
    
    <th></th>
  
  </tr>
   
  </thead>

  <tbody>

  <% @friends.each do |friend|  %>
  <% if friend.user == current_user%>
   <tr>
    <td>
        <%= link_to friend.first_name + " " + friend.last_name , friend, class:'btn btn-dark' %>
    </td>
    <td><%= friend.email%></td>
    <td><%= friend.phone%></td>
    <td><%= friend.twitter%></td>
    <td> <%= button_to "Delete", friend , method: :delete, data:{turbo_confirm:'Are you sure?'}, class:'btn btn-danger' %></td>
   </tr>
   <% end %>
  <% end %>
  
  </tbody>
  
</table>
</br>

<%= link_to "New friend", new_friend_path, class:"btn btn-secondary" %>


<% else %>
<h1> Welcome to my first Ruby on Rails App !!</h1>
</br>

<h3>Log In to continue :D</h3>
</br>

<b>By Ivo Gozze, and the help of freecodecamp.org</b>


<% end %>
